*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#edf2f7;
}

.container{
max-width:1300px;
margin:40px auto;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
padding:20px;

}